extends layout

block content
  form(class="form" action="/item/#{item.id}?_method=PUT", method="POST")
    input(class="field" type="text" name="input" placeholder="item" value='#{item.item}')
    input(class="field" type="number" name="calories" placeholder="calories" value='#{item.calories}')
    input(class="field" type="number" name="quantity" placeholder="quantity" value='#{item.quantity}')
    br
    select(class="select" name="unit" selected="#{item.unit}")
      option(value="Unit") Unit
      option(value="tsp") tsp
      option(value="Tbsp") Tbsp
      option(value="Cup") Cup
    br
    button(type="submit") Submit

  a(href='/item') Cancel
