
html(lang="en")
  head
    title= pageTitle
    :javascript
      | if (itemlist) {
      |    return itemlist;
      | }
  body


extends layout

block content 

  p Daily allowance: #{limit}
    a(href='/limit/#{limitId}/edit') CHANGE

  p Consumed today: #{total}

  p Available balance: #{limit - total}

  p Today's detail 
      a(href='/item/new') Add Item
  ul
    each item, i in itemlist
      li #{item.item}
        p Calories: #{item.calories} Quantity: #{item.quantity}
