
html(lang="en")
  head
    title= 'Calorie Tracker'
  body


extends layout

block content 
  form(action="/limit?_method=PUT", method='POST')
    input(type="number" name="limit" placeholder="limit" value='#{limit}')
    button Update

  p Daily allowance: #{limit}
    a(href='/limit/#{limitId}/edit') CHANGE

  p Consumed today: #{total}

  p Available balance: #{limit - total}

  p Today's detail 
      a(href='/item/new') Add Item 
      a(href='/favorites') Favorites
  ul
    each item, i in itemlist
      li #{item.item}
        form(action="/item/#{item._id}?_method=DELETE" method="POST")
          button Delete
        a(href='/item/#{item._id}/edit')
          button Edit
  
        p Calories: #{item.calories} Quantity: #{item.quantity}
